*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background: #EAE7D3;
}
.template{
    width: 960px;
    margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.headersection{
    
}
.header{
    background: #333333;
    height: 80px;
}

.headerleft {
  color: #fff;
  float: left;
  width: 450px;
}
.headerleft h2 {
  font-size: 40px;
  line-height: 66px;
  padding-left: 50px;
}

.headerright {
  color: #fff;
  float: right;
  padding-top: 30px;
  width: 510px;
}
.headerright a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.headerright a:hover, #active{
    color: #00ADEF;
}
.mainsection{
    background: #FFFFFF;
}
.slogansection {
  border-bottom: 2px dotted #a8a8a8;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  padding-bottom: 28px;
}
.slogansection h2 {
  color: #000;
  font-size: 46px;
  line-height: 58px;
}
.slogansection h3 {
  color: #b5b5b5;
  font-size: 35px;
  line-height: 35px;
}

.description {
  border-bottom: 2px dotted #a8a8a8;
  color: #666;
  font-size: 27px;
  line-height: 30px;
  margin: 28px 50px 50px;
  padding-bottom: 30px;
}
.description p{}

.contentsection {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.service {
  background: #00adef none repeat scroll 0 0;
  box-shadow: 7px 6px 4px 0 #cfcfcf;
  float: left;
  margin-left: 52px;
  padding: 20px;
  width: 212px;
}
.service h2 {
  border-bottom: 1px dotted #fff;
  color: #fff;
  font-size: 28px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.service p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.readmore {
  background: #0076a4 none repeat scroll 0 0;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.readmore a {
  color: #ddd;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.readmore a:hover{}

.mainbottom {
  border-bottom: 2px dotted #cccccc;
  border-top: 2px dotted #cccccc;
  margin: 30px 50px 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.cliensection {
  border-right: 2px dotted #ccc;
  float: left;
  margin-right: 30px;
  padding-right: 30px;
  width: 398px;
}
.cliensection h2 {
  color: #666;
  font-size: 25px;
  line-height: 30px;
}

.testimonial {
  margin-top: 20px;
}
.clientimage {
  float: left;
  margin-right: 20px;
  width: 80px;
}
.clientimage img {
  height: 80px;
  width: 80px;
}
.clientdse {
  float: left;
  width: 298px;
} 
.clientdse p {
  color: #666;
}
.clientdse a {
  color: #00adef;
  text-decoration: none;
}
.clientname {
  font-weight: bold;
  margin-top: 8px;
}

.projectsection{
    width: 400px;
    float: right;
}
.projectsection h2{
  color: #666;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}
.projectsection h3 {
  color: #999;
  margin-bottom: 8px;
  margin-top: 5px;
}
.projectsection img {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 160px;
  margin-bottom: 6px;
  width: 398px;
}
.projectsection p {
  color: #666;
  margin-bottom: 6px;
}
.projectsection a {
  color: #00adef;
  font-size: 16px;
  text-decoration: none;
}

.footersection{
    background: #fff;
}
.footersection p {
  color: #999;
  margin-left: 50px;
  margin-bottom: 20px;
}


/*Responsive design*/

@media only screen and (min-width:480px) and (max-width:768px){
	.template{
		width: 768px;
	}
	.headerleft {
	  width: 310px;
	}
@media only screen and (min-width:320px) and (max-width:360px){
	.template{
		width: 360px;
	}
}
@media only screen and (min-width:240px) and (max-width:319px){
	.template{
		width: 319px;
	}
}
